<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the genesis of  whole matter</h1>
    <form action="/users" method="POST">
        <input type="name" name="name">
        <input type="password" name="password" >
        <button>Submit</button>
    </form>
</body>
</html>